*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body{
  background-color: #f3e5f5;

}


@font-face {
    font-family: "iranyekan";
    font-style: normal;
    /* font-weight: 400; */
    src: url("./assets/fonts/IRANYekanWebRegular.woff") format("woff");
  }
  @font-face {
    font-family: "iranyekan";
    font-style: normal;
    /* font-weight: 700; */
    src: url("./assets/fonts/IRANYekanWebBold.woff") format("woff");
  }
  body,button,input,select,option,h4,h2 {
    font-family: "iranyekan";
  }
  